body {
  background-color: #fbe8c6;
}

.sort {
  cursor: hand;
}

.commentLink {
  font-size: 11px;
  margin-top: 4px;
}

@media (max-width: 768px) {
	.table {
	  font-size: 12px;
	}
	.commentLink {
	  font-size: 11px;
	}
	
}


.similar-users {
  margin-top: -22px;
}

.profile-header {
  display: inline-block;
  margin-bottom: 10px;
}

.article-header {
	display: inline-block;
}

.follow-btn {
  margin-top: -19px;
  margin-left: 10px;
}


.auth-container {
  background-color: white;
  margin-top: 20px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
  border-radius: 2px;

  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 1px;
}

.auth-container > input {
  margin-bottom: 10px;
}

.auth-container > button {
  margin-top: 30px;
}

.auth-container > h4 {
  margin-top: 35px;
  color: red;
}

.page-container {
  background-color: white;
  margin-top: 20px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
  border-radius: 2px;
}

.profile-tab-container {
  padding-bottom: 30px;
}

.home-logo {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.currentSort {
  cursor: mouse;
  text-decoration: bold;
  color: black;
}

.table {
	table-layout: fixed;
	word-wrap: break-word;
}

/* prevents table header from wrapping */
th {
	white-space: nowrap;
}

@media (max-width: 768px) {
  .profile-header {
    display: block;
  }

  .page-container {
    padding-top: 1px;
  }

  .follow-btn {
    margin-top: 5px;
    margin-bottom: 17px;
    margin-left: 0px;
  }
}
