body {
  background-color: #fbe8c6;
}

.login-container {
  background-color: white;
  margin-top: 20px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
  border-radius: 2px;
}

.sort {
  cursor: hand;
}

.commentLink {
  font-size: 12px;
  margin-top: 4px;
}

.similar-users {
  margin-top: -22px;
}

.profile-header {
  display: inline-block;
}

.follow-btn {
  margin-top: -19px;
  margin-left: 10px;
}

.login-container {
  padding: 25px;
}

.login-container > input {
  margin-bottom: 10px;
}

.login-container > button {
  margin-top: 30px;
}