<h1>MyHackerNews</h1>

<h1 ng-show="!newest">Top 20 HN Articles</h1>
<h1 ng-show="newest">Newest 20 HN Articles</h1>
<div class="pull-right">
  Sort by:
  <a ng-click="sortStories('topstories')" class="sort">Top</a>
  |
  <a ng-Click="sortStories('newstories')" class="sort">Newest</a>
</div>

<table class="table table-striped" ng-init="init()">
    <tbody>
        <tr>
          <th>Title</th>
          <th></th>
          <th>By</th>
          <th>Points</th>
          <th></th>
        </tr>
        <tr ng-repeat="story in stories">
            <td>
              <a ng-href="{{story.url}}">{{story.title}}</a>
            </td>
            <td>
              <div class="commentLink">
                <a ng-href="#/article/{{story.id}}">View Comments</a>
              </div>
            </td>
            <td>{{story.by}}</td>
            <td>{{story.score}}</td>
            <td>
                <button ng-show="currentUser" ng-click="addToFavorites(story)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
            </td>
        </tr>
    </tbody>
  </table>