<h1>MyHackerNews</h1>

<h1 ng-show="!newest">Top 20 HN Articles</h1>
<h1 ng-show="newest">Newest 20 HN Articles</h1>
<div class="pull-right">
  Sort by:
  <a ng-click="sortStories('topstories')" class="sort">Top</a>
  |
  <a ng-Click="sortStories('newstories')" class="sort">Newest</a>
</div>

<div ng-show="favorites.length > 0">
    <h2>Favorites</h2>
    <table class="table table-striped">
        <tbody>
            <tr ng-repeat="story in favorites">
                <td>{{story.title}}</td>
                <td>
                    <button class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<table class="table table-striped" ng-init="init()">
    <tbody>
        <tr>

          <th>Title</th>
          <th>By</th>
          <th>Points</th>
          <th></th>
        </tr>
        <tr ng-repeat="story in stories">
            <td>
              <a ng-href="{{story.url}}">{{story.title}}</a>
            </td>
            <td>{{story.by}}</td>
            <td>{{story.score}}</td>
            <td>
                <button ng-show="currentUser" ng-click="addToFavorites(story)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
            </td>
        </tr>
    </tbody>
  </table>