<h1>Article</h1>

<h1>Details</h1>
<table class="table table-striped">
    <tbody>
        <tr>
          <th>Title</th>
          <th>By</th>
          <th>Points</th>
          <th></th>
        </tr>
        <tr>
            <td>
              <a ng-href="{{article.url}}">{{article.title}}</a>
            </td>
            <td>{{article.by}}</td>
            <td>{{article.score}}</td>
            <td>
                <button ng-show="currentUser" ng-click="addToFavorites(article)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
            </td>
        </tr>
    </tbody>
  </table>

<h2>Favorited By</h2>
<table class="table table-striped">
  <tbody>
      <tr>
        <th>Username</th>
      </tr>
      <tr ng-repeat="user in articleFavorited">
          <td>
            <a ng-href="#/profile/{{user.username}}">{{user.username}}</a>
          </td>
      </tr>
  </tbody>
  </table>
