<h1>Article</h1>

<h1>Details</h1>
<table class="table table-striped">
    <tbody>
        <tr>
          <th>Title</th>
          <th>By</th>
          <th>Points</th>
          <th></th>
        </tr>
        <tr>
            <td>
              <a ng-href="{{article.url}}">{{article.title}}</a>
            </td>
            <td>{{article.by}}</td>
            <td>{{article.score}}</td>
            <td>
                <button ng-show="currentUser && currentUser.favorites.indexOf(article.id.toString()) > -1" ng-click="removeFromFavorites(article)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button ng-show="currentUser && currentUser.favorites.indexOf(article.id.toString()) == -1" ng-click="addToFavorites(article)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
            </td>
        </tr>
    </tbody>
  </table>

<h2>Favorited By</h2>
<table class="table table-striped">
  <tbody>
      <tr>
        <th>Username</th>
      </tr>
      <tr ng-repeat="user in articleFavorited">
          <td>
            <a ng-href="#/profile/{{user.username}}">{{user.username}}</a>
          </td>
      </tr>
  </tbody>
</table>

<h2>Comments</h2>
<div ng-show="currentUser">
  <textarea ng-model="commentText" class="form-control" rows="4"></textarea>
  <button class="btn btn-primary" ng-click="postComment()">Submit</button>
</div>

<table ng-show="comments.length > 0" class="table table-striped">
  <tbody>
      <tr>
        <th>Username</th>
        <th>Comment</th>
        <th>Date</th>
      </tr>
      <tr ng-repeat="comment in comments">
          <td>
            <a ng-href="#/profile/{{comment.poster}}">{{comment.poster}}</a>
          </td>
          <td>{{comment.text}}</td>
          <td>{{comment.dateCreated | date:"MM/dd/yyyy 'at' h:mma"}}</td>
      </tr>
  </tbody>
</table>
