<div class="page-container col-sm-offset-1 col-sm-10">

<h1>Details</h1>

<table class="table table-striped">
    <tbody>
        <tr>
          <th>Title</th>
          <th>By</th>
          <th>Points</th>
          <th></th>
        </tr>
        <tr>
            <td>
              <a ng-href="{{article.url}}">{{article.title}}</a>
            </td>
            <td>{{article.by}}</td>
            <td>{{article.score}}</td>
            <td>
                <button ng-show="currentUser && currentUser.favorites.indexOf(article.id.toString()) > -1" ng-click="removeFromFavorites(article)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button ng-show="currentUser && currentUser.favorites.indexOf(article.id.toString()) == -1" ng-click="addToFavorites(article)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
            </td>
        </tr>
    </tbody>
  </table>

<ul class="nav nav-tabs">
  <li class="profile-tab comments-tab active">
    <a ng-click="setArticleTabView('comments-tab')" class="sort">Comments ({{comments.length}})</a>
  </li>
  <li class="profile-tab articleFavorited-tab">
    <a ng-click="setArticleTabView('articleFavorited-tab')" class="sort">Favorited By ({{articleFavorited.length}})</a>
  </li>
  <li class="profile-tab similarArticles-tab">
    <a ng-click="setArticleTabView('similarArticles-tab')" class="sort">Similar Articles</a>
  </li>
</ul>
<div ng-show="tabView == 'articleFavorited-tab'">
<h3 ng-show="articleFavorited.length == 0">No one has favorited this post.</h3>
<table ng-show="articleFavorited.length > 0" class="table table-striped">
  <tbody>
      <tr>
        <th>Username</th>
      </tr>
      <tr ng-repeat="user in articleFavorited">
          <td>
            <a ng-href="#/profile/{{user.username}}">{{user.username}}</a>
          </td>
      </tr>
  </tbody>
</table>
</div>

<div ng-show="tabView == 'comments-tab'">
<div ng-show="currentUser">
  <textarea ng-model="commentText" class="form-control" rows="4"></textarea>
  <button class="btn btn-primary" ng-click="postComment()">Submit</button>
</div>

<h3 ng-show="comments.length == 0">No comments have been posted yet about this article.</h3>

<table ng-show="comments.length > 0" class="table table-striped">
  <tbody>
      <tr>
        <th>Username</th>
        <th>Comment</th>
        <th></th>
        <th>Date</th>
      </tr>
      <tr ng-repeat="comment in comments">
          <td>
            <a ng-href="#/profile/{{comment.poster}}">{{comment.poster}}</a>
          </td>
          <td ng-show="!comment.edit">{{comment.text}}</td>
          <td>
            <div ng-show="!comment.edit && currentUser && currentUser.username == comment.poster">
              <a ng-click="editComment(comment)" class="sort">Edit</a> |
              <a ng-click="deleteComment($index, comment)" class="sort">Delete</a>
            </div>

            <textarea ng-model="comment.text" ng-show="comment.edit" class="edit-textarea form-control"></textarea>
            <button ng-show="comment.edit" class="btn btn-xs btn-success" ng-click="saveComment(comment)">Save</button>
            <button ng-show="comment.edit" class="btn btn-xs btn-danger" ng-click="cancelEditComment(comment)">Cancel</button>
          </td>
          <td>{{comment.dateCreated | date:"MM/dd/yyyy 'at' h:mma"}}</td>
      </tr>
  </tbody>
</table>
</div>

<div ng-show="tabView == 'similarArticles-tab'">
    <h3 ng-show="similarArticles.length == 0">We can't find any similar articles at the moment.</h3>
    <table ng-show="similarArticles.length > 0" class="table table-striped">
        <tbody>
            <tr >
              <th>Title</th>
              <th></th>
              <th>By</th>
              <th></th>
            </tr>
            <tr ng-repeat="article in similarArticles">
              <td>
              <a ng-href="{{article.url}}">{{article.title}}</a>
              </td>
              <td>
                <div class="commentLink">
                  <a ng-href="#/article/{{article.HNId}}">View Details</a>
                </div>
              </td>
              <td>{{article.author}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
