<div class="page-container col-sm-offset-1 col-sm-10">
<div class="profile-header">
  <h1 ng-show="currentUser.username == username">My Profile</h1>
  <h1 ng-show="currentUser.username != username">Profile for {{username}}</h1>
</div>
<button ng-show="currentUser && currentUser.username != username && followers.indexOf(currentUser.username) == -1" ng-click="followUser()" class="btn btn-sm btn-success follow-btn">
    <span class="glyphicon glyphicon-plus"></span>
    Follow {{username}}
</button>
<button ng-show="currentUser && currentUser.username != username && followers.indexOf(currentUser.username) > -1" ng-click="unfollowUser()" class="btn btn-sm btn-danger follow-btn">
    <span class="glyphicon glyphicon-minus"></span>
    Unfollow {{username}}
</button>

<div class="row">
<div class="profile-tab-container col-md-12">
<ul class="nav nav-tabs">
  <li class="profile-tab favorites-tab active">
    <a ng-click="setProfileTabView('favorites-tab')" class="sort">Favorites ({{favorites.length}})</a>
  </li>
  <li class="profile-tab followers-tab">
    <a ng-click="setProfileTabView('followers-tab')" class="sort">Followers ({{followers.length}})</a>
  </li>
  <li class="profile-tab following-tab">
    <a ng-click="setProfileTabView('following-tab')" class="sort">Following ({{following.length}})</a>
  </li>
</ul>

<div ng-show="tabView == 'favorites-tab'">
    <h4 ng-show="favorites.length == 0 && currentUser.username != username">{{username}} hasn't favorited any posts.</h3>
    <h4 ng-show="favorites.length == 0 && currentUser.username == username">You haven't favorited any posts.</h3>
    <table ng-show="favorites.length > 0" class="table table-striped">
        <thead>
            <tr >
              <th>Title</th>
              <th></th>
              <th></th>
              <th>By</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="story in favorites">
              <td colspan="2" >
              <a ng-href="{{story.url}}">{{story.title}}</a>
              </td>
              <td>
                <div class="commentLink">
                  <a ng-href="#/article/{{story.HNId}}">View Details</a>
                </div>
              </td>
              <td>{{story.author}}</td>
              <td>
                <button ng-show="currentUser && currentUser.username == username" ng-click="removeFavorite(story, $index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="tabView == 'followers-tab'">
  <h4 ng-show="followers.length == 0 && currentUser.username != username">No one is following {{username}}.</h4>
  <h4 ng-show="followers.length == 0 && currentUser.username == username">You don't have any followers yet.</h4>
  <table ng-show="followers.length > 0" class="table table-striped">
        <thead>
            <tr>
              <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in followers">
              <td>
                <a ng-href="#/profile/{{user}}">{{user}}</a>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="tabView == 'following-tab'">
  <h4 ng-show="following.length == 0 && currentUser.username != username">{{username}} isn't following anyone.</h4>
  <h4 ng-show="following.length == 0 && currentUser.username == username">You aren't following anyone.</h4>

  <h4 ng-show="following.length === 0"></h4>
    <table ng-show="following.length > 0" class="table table-striped">
        <thead>
            <tr>
              <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in following">
              <td>
                <a ng-href="#/profile/{{user}}">{{user}}</a>
              </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div ng-show="similarUsers.length > 0" class="similar-users col-md-4">
  <h2>Similar Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>User</th>
              <th>Shared Favorites</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in similarUsers">
              <td>
                <a ng-href="#/profile/{{user.username}}">{{user.username}}</a>
              </td>
              <td>
                {{user.similarFavorites}}
              </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>