<h1>Profile</h1>

<div>
  <h2>Following</h2>
    <table class="table table-striped">
        <tbody>
            <tr ng-show="following.length > 0">
              <th>Username</th>
            </tr>
            <tr ng-repeat="user in following">
              <td>
                <a ng-href="#{{story.url}}">{{user}}</a>
              </td>
              <td>
                <button ng-show="currentUser" ng-click="removeFavorite(story, $index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
  <h2>Followers</h2>
  <table class="table table-striped">
        <tbody>
            <tr ng-show="followers.length > 0">
              <th>Username</th>
            </tr>
            <tr ng-repeat="user in followers">
              <td>
                <a ng-href="#{{story.url}}">{{user}}</a>
              </td>
              <td>
                <button ng-show="currentUser" ng-click="removeFavorite(story, $index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="favorites.length > 0">
    <h2>Favorites</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
              <th>Title</th>
              <th></th>
              <th>By</th>
              <th></th>
            </tr>
            <tr ng-repeat="story in favorites">
              <td>
              <a ng-href="{{story.url}}">{{story.title}}</a>
              </td>
              <td>
                <div class="commentLink">
                  <a ng-href="#/article/{{story.HNId}}">View Comments</a>
                </div>
              </td>
              <td>{{story.author}}</td>
              <td>
                <button ng-show="currentUser" ng-click="removeFavorite(story, $index)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="currentUser.roles.indexOf('admin') > -1">
  <h1>Admin</h1>
  <h2>User List</h2>
  <table class="table table-striped">
    <tr>
      <td>&nbsp;</td>
      <td><input ng-model="user.username" class="form-control"/></td>
      <td><input ng-model="user.password" class="form-control" type="password"/></td>
      <td><input ng-model="user.firstName" class="form-control"/></td>
      <td><input ng-model="user.lastName" class="form-control"/></td>
      <td><input ng-model="user.email" class="form-control"/></td>
      <td><input ng-model="user.roles" class="form-control"/></td>
      <td><button ng-click="add(user)">&plus;</button>
      <td><button ng-click="update(user)">&check;</button>
    </tr>

    </tr>
    <tr ng-repeat="user in users">
      <td>{{user._id}}</td>
      <td>{{user.username}}</td>
      <td>&nbsp;</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.roles}}</td>
      <td><button ng-click="remove(user)">X</button>
      <td><button ng-click="select(user)">...</button>
      </tr>
  </table>
</div>